# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
../Include
/Lib
/Scripts
/dist
/venv_ds_toolkit

# Environments
.env
.venv
ds_toolkit/pyvenv.cfg
pyvenv.cfg
ds_toolkit.egg-info/

# Other
utils.txt