# Cache
__pycache__/
tests/__pycache__
__init__.pyc
.pytest_cache

# Distribution / packaging
../Include
/Lib
/Scripts
/dist
.vscode

# Environments
.env
/venv_ds_toolkit
ds_toolkit/pyvenv.cfg
pyvenv.cfg
ds_toolkit.egg-info/

# Other
utils.txt