# Cache
__pycache__/
tests/__pycache__
__init__.pyc
.pytest_cache

# Distribution / packaging
../Include
/Lib
/Scripts
/dist
.vscode
build

# Environments
.env
/venv
data_hopper/pyvenv.cfg
pyvenv.cfg
data_hopper.egg-info/

# Other
utils.txt